html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 320px;
  height: 480px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
}

.grid {
  position: absolute;
  width: 400px;
  height: 400px;
  transition: transform 200ms ease-in-out;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.slot {
  flex-grow: 0;
  flex-shrink: 0;
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  width: 90%;
  height: 90%;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 5%;
  background: rgba(200,200,200,1);
}

.segmented-control {
  display: flex;
  width: 320px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-bottom: 0;
}
  .segmented-control button {
    margin: 5px;
    font-size: 20px;
    background: magenta;
    color: white;
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    line-height: 0;
    padding: 1em 0;
    outline: 0;
  }
