html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 320px;
  height: 480px;
  overflow: hidden;
  position: relative;
  border: 1px solid pink;
}

.grid {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.slot {
  flex-grow: 0;
  flex-shrink: 0;
  width: 25%;
  height: 25%;
  /*border: 1px dotted #ccc;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  width: 90%;
  height: 90%;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  background: rgba(200,200,200,1);
}
